# folders and files to be ignored by git

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
package-lock.json

############
## Vendor
############
installed.json

/node_modules
/vendor
/src/vendor/**/README.md
/src/vendor/**/CHANGELOG.md
/src/vendor/**/.gitignore
/src/vendor/**/.gitattributes
/src/vendor/**/bower.json
/src/vendor/**/index.html
/src/vendor/**/doc.tpl
/src/vendor/**/composer.json
/src/vendor/**/package.json
/src/vendor/**/.travis.yml
/src/vendor/**/.codeclimate.yml
/src/vendor/**/.editorconfig
/src/vendor/**/.jshintrc
/src/vendor/**/phpcs*
/src/vendor/**/phpmd*
/src/vendor/**/phpunit*
/src/vendor/felixarntz/plugin-lib/vendor/
/src/vendor/felixarntz/plugin-lib/node_modules/almond/
/src/vendor/felixarntz/plugin-lib/node_modules/jquery/
/src/vendor/felixarntz/plugin-lib/node_modules/jquery-datetimepicker/tests/
/src/vendor/felixarntz/plugin-lib/node_modules/jquery-mousewheel/
/src/vendor/felixarntz/plugin-lib/node_modules/php-date-formatter/
/src/vendor/felixarntz/plugin-lib/node_modules/select2/src/
/src/vendor/felixarntz/plugin-lib/node_modules/wp-map-picker/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
# Devops
############
www

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.lock
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
.sass-cache/*
temp/
._*
.Trashes

.svn
