#form-email-notifications .notifications{
}
#form-email-notifications .list{
}
#form-email-notifications .list .no-entry-found{
    text-align: center;
    padding:10px;
    border:dotted 1px #DDDDDD;
    color: #DDDDDD;
    font-weight:bold;
}
#form-email-notifications .list .widget-title h4{
    font-weight: normal;
    padding:10px;
    line-height: 20px;
}
#form-email-notifications .list .widget-title h4 .widget-action {
    float:right;
}
#form-email-notifications .list .widget-title h4 .widget-action:after
{
    padding:0;
}
#form-email-notifications .list .widget-title h4.ui-state-active .widget-action:after
{
    content: '\f142';
    font: 400 20px/1 dashicons;
}
#form-email-notifications .list .widget-title img
{
    float: left;
    margin-right: 10px;
    height:20px;
    width: auto;
    fill: #FFF;
}

#form-email-notifications .list .widget-title .notice{
    margin-bottom: 10px;
}
#form-email-notifications .form-table label,
#form-email-notifications .form-table input{
    font-size: 13px;
}
#form-email-notifications .form-table th{
    font-weight: normal;
    width: 180px;
}
#form-email-notifications .actions{
    margin-bottom: 15px;
}
#form-email-notifications .actions .intro-text
{
    line-height:30px;
}
#form-email-notifications .actions input[type="button"]{
    float:right;
    margin-left: 10px;
}
#form-email-notifications .notifications{

}
#form-email-notifications .no-entry-found{
    display: none;
    margin: 0;
}
#form-email-notifications .notifications h4{
    cursor:pointer;
}
#form-email-notifications .notification{
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#form-email-notifications .notification input[type="text"]{
    width:90%;
}
#delete_email_notification_dialog{
    display: none;
}