$image-path: "../img";

$basic-spacing: 2em;

$element-wrap-spacing: $basic-spacing;
$element-label-spacing: 0.5em;

$notice-spacing: $basic-spacing;

$color-success: #46b450;
$color-success-light: #d4ffd8;
$color-info: #00a0d2;
$color-info-light: #d1f4ff;
$color-warning: #ffb900;
$color-warning-light: #fff3d2;
$color-error: #dc3232;
$color-error-light: #ffdcdc;

$color-metabox-background: #fff;
$color-canvas-background: #fafafa;
$color-element-background: #fff;
$color-element-hover-background: #eee;
$color-notice-background: #fff;
$color-dialog-background: #fff;

$color-metabox-border: #e5e5e5;
$color-element-border: #e5e5e5;
$color-add-element-border: #ccc;
$color-element-type-selected-border: #00a0d2;
$color-metabox-tab-active-border: #00a0d2;
$color-dialog-border: #ccc;

$color-tab-text: #000;
$color-element-type-icons: #00a0d2;
$color-required-indicator: #00a0d2;
