/* ----------------------------------------------------------------------------
  1.0 - Torro Form Canvas
---------------------------------------------------------------------------- */

.torro-form-canvas {
	margin-top: 15px;
	margin-bottom: 15px;
}

.torro-form-canvas-header,
.torro-form-canvas-content,
.torro-form-canvas-footer {
	margin: 0;
	padding: 12px;
	background-color: #fff;
	border-color: #e5e5e5;
	border-style: solid;
}

.torro-form-canvas-header {
	border-width: 1px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
}

.torro-form-canvas-content {
	border-width: 1px;
}

.torro-form-canvas-footer,
.torro-form-canvas-header + .torro-form-canvas-content {
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

/* ----------------------------------------------------------------------------
  2.0 - Torro Form Canvas Tabs
---------------------------------------------------------------------------- */

.torro-form-canvas-header.torro-form-canvas-tabs {
	padding: 0 12px;
	background-color: transparent;
	border-width: 0;
	border-bottom-width: 1px;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.torro-form-canvas-tab {
		margin: 0 0.5em -1px 0;
		padding: 8px 12px;
		display: block;
		float: left;
		color: #000000;
		border: 1px solid #e5e5e5;
		background-color: #fff;
		cursor: pointer;
		-webkit-appearance: none;

		&[aria-selected="true"] {
			border-bottom-color: #fff;
			cursor: default;
		}

		&[disabled] {
			color: #b4b9be;
			cursor: not-allowed;
		}
	}
}

.torro-form-canvas-panel[aria-hidden="true"] {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

/* ----------------------------------------------------------------------------
  3.0 - Drag & Drop Area
---------------------------------------------------------------------------- */

.drag-drop-area {
	position: relative;
	min-height: 150px;

	&.is-empty {
		border: 4px dashed #b4b9be;

		> div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			font-size: 1.3em;
			line-height: 1.4em;

			&.content {
				text-align: center;
			}

			&.loader-content {
				font-style: italic;
			}
		}

		.spinner {
			float: none;
			height: 1.4em;
			margin: 0 10px;
		}
	}
}

/* ----------------------------------------------------------------------------
  4.0 - General Notice
---------------------------------------------------------------------------- */

.torro-notice {
	padding: 1px 12px;
	background: #ffffff;
	border-left-width: 4px;
	border-left-style: solid;
	-webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, .1 );
	        box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, .1 );
}

/* ----------------------------------------------------------------------------
  5.0 - Torro Metabox Tabs
---------------------------------------------------------------------------- */

.torro-metabox-tab-wrapper {
	margin: 0 0 10px;
	padding: 4px 4px 0;
	font-size: 13px;
	line-height: 1.1;
	border-bottom: 1px solid #cccccc;

	&:not(.wp-clearfix):after {
		display: table;
		content: "";
		clear: both;
	}
}

.torro-metabox-tab {
	margin-left: 0.5em;
	padding: 5px 10px;
	float: left;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	text-decoration: none;
	color: #555;
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-bottom: none;
	white-space: nowrap;

	&[aria-selected="true"] {
		margin-bottom: -1px;
		color: #444444;
		-webkit-box-shadow: none;
		        box-shadow: none;

		&,
		&:hover,
		&:focus,
		&:active {
			color: #000000;
			background-color: #ffffff;
			border-bottom: 1px solid #ffffff;
		}
	}
}

/* ----------------------------------------------------------------------------
  6.0 - Polyfill for button links in WordPress < 4.8
---------------------------------------------------------------------------- */

.wp-core-ui .button-link {
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: 0;
	-webkit-border-radius: 0;
	        border-radius: 0;
	background: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	/* Mimics the default link style in common.css */
	color: #0073aa;
	text-decoration: underline;
	-webkit-transition-property: border, background, color;
	        transition-property: border, background, color;
	-webkit-transition-duration: .05s;
	        transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;

	&:hover,
	&:active {
		color: #00a0d2;
	}

	&:focus {
		color: #124964;
		-webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
		        box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
	}
}

.wp-core-ui .button-link-delete {
	color: #a00;

	&:hover,
	&:focus {
		color: #f00;
	}
}

.ie8 .wp-core-ui .button-link:focus {
	outline: #5b9dd9 solid 1px;
}
