@import "variables";
@import "mixins";

/* --- General --- */

.post-type-torro_form {
	#poststuff {
		a {
			&:focus {
				@include box-shadow(none);
			}
		}

		#drag-drop-area {
			height: auto;
			margin-top: 10px;
			border: 1px solid #e5e5e5;
			@include box-shadow(rgba(0, 0, 0, 0.0392157) 0 1px 1px);

			.formelement {
				.widget-title-action {
					display: inline;
				}
			}
		}

		#form-elements{
			.inside{
				.formelement{
					height:45px;

					&:first-child{
						margin-top: 15px;
					}
				}
			}
		}

		.tabs > ul {
			padding: 0 5px;
			margin: 0;
			display: block;
			border-bottom: 1px solid #cccccc;
			height: 29px;
			padding: 15px 15px 0;
			background-color: #f5f5f5;

			> li {
				float: left;
				margin: 0 3px 0 0;
				border: 1px solid #cccccc;
				background-color: #fafafa;
				height: 28px;

				&:last-child {
					border-right: 1px solid #CCC;
				}

				&.ui-state-active {
					border-bottom: #ffffff 1px solid;
					background-color: #ffffff;
				}

				a {
					display: block;
					height: 14px;
					padding: 7px;
					text-decoration: none;
					line-height: 14px;
					color: #000;
				}
			}
		}

		.tab-content {
			padding: 15px;

			&.torro-container {
				padding: 0;
			}
		}

		.general-settings{
			padding:15px;
		}

		#containers {
			.container-tabs {
				margin-bottom: 0;
				padding: 15px 15px 12px;
				height: auto;
				border-bottom: 1px solid #cccccc;
				overflow: hidden;
				background-color: #ffffff;

				#container-add {
					cursor: pointer;
					line-height: 28px;
					padding: 0 12px;
				}

				li {
					border: #cccccc solid 1px;
					margin-bottom: 3px;

					&.ui-state-active {
						background: #0085ba none repeat scroll 0 0;
						border-color: #0073aa #006799 #006799;
						color: #ffffff;

						a {
							color: #ffffff;
						}
					}

					.txt{
						width: 200px;
						height: 28px;
					}
				}

				input {
					display: none;
					width: 99%;
				}
			}

			.container-buttons {
				margin: 0;
				padding: 15px;
				background-color: #ffffff;
				border-top: 1px solid #ddd;
			}

			.torro-drag-drop-inside {
				padding: 15px;
				min-height: 200px;
				background-color: #f5f5f5;
			}
		}

		.formelement {
			width: 100%;
			min-height: 43px;
			overflow: hidden;
			margin-top: 0;
			margin-bottom: 15px;
			cursor: move;

			.widget-title {
				height: 43px;
			}

			.widget-title-action {
				display: none;
			}

			.widget-inside {
				padding: 0;
			}

			.element-tabs ul {
				padding: 15px 15px 0 15px;
			}

			.element-tabs-content {
				padding: 15px;
				background-color: #ffffff;
			}

			div > label {
				display: block;
				line-height: 26px;
			}

			.form-element-buttons {
				ul {
					padding: 15px;
					margin: 0;
					background-color: #fafafa;
					border-top: 1px solid #dddddd;
				}

				li {
					padding: 0;
					margin: 0;
				}
			}

			.form-elements-widget-icon {
				float: left;
				margin: 6px 0px 6px 6px;
			}
		}

		.form-element-placeholder {
			border: #CCC dashed 1px;
			height: 43px;
			margin-top: 0px;
			margin-bottom:15px;
		}

		#containers {
			input[type="text"],
			textarea {
				width: 80%;

				&.form-label {
					width: 100%;
				}
			}
		}

		.drop-elements-here {
			border: 2px dashed #b4b9be;
			color: #b4b9be;
			font-size: 20px;
			font-weight: bold;
			height: 195px;
			line-height: 190px;
			text-align: center;
			display: none;
		}

		.answers {
			margin-bottom: 15px;
		}

		.answer {
			height: 40px;
			padding-left: 20px;
			background-image: url('#{$image-path}/icon-updown.png');
			background-repeat: no-repeat;
			background-position: top 7px left 0;
			cursor: move;

			p {
				display: inline;
			}
		}

		.add-answer {
			font-weight: bold;
			text-decoration: underline;
			cursor: hand;
		}

		.form-fields {
			label {
				display: block;
				float: left;
				line-height: 30px;
				width: 150px;
			}

			small {
				margin-left: 15px;
			}

			input[type=text] {
				width: 50%;
			}

			margin-bottom: 10px;
		}

		#postbox-container-2 .inside {
			padding: 0;
			margin: 0;
		}

		.button-loading {
			background-image: url('#{$image-path}/loading.gif');
			background-repeat: no-repeat;
			background-position: 5px 5px;
			padding-left: 28px;
		}

		.in-postbox-one-third {
			width: 30%;
			float: left;
			margin-right: 2%;
			min-height: 50px;
			background-color: #f5f5f5;
			border: 1px solid #DDDDDD;
			padding: 1%;

			&:last-child {
				margin-right: 0;
			}

			label {
				display: block;
				margin-bottom: 5px;
			}
		}

		div.section {
			border-top: 1px solid #ddd;
			margin: 0;
		}

		.clipboardfield {
			label {
				width:100%;
				display:block;
			}
			input {
				background-color: #f7f7f7;
				font-size: 12px;
				height: 28px;
				width: 200px;
			}

			.clipboard {
				height: 27px;
				margin-left: 1px;
				margin-top: 1px;
				padding: 3px;
				width: 29px;

				img {
					width: 14px;
					height: auto;
				}
			}
		}

		.not-found-area {
			padding: 10px;
			text-align: center;
			background-color: #f5f5f5;
			font-weight: bold;
			color: #DDDDDD;
		}

		.form-table th {
			padding: 5px 10px 5px 0;
		}

		.form-table td {
			padding: 5px 0;
		}
		.form-table td:first-child{
			width:200px;
			vertical-align: top;
		}

		.torro-table-nav {
			width: 100%;
			overflow: hidden;

			.torro-slider {
				width: 300%;

				.torro-slider-left {
					margin-left: -100%;
				}

				.torro-slider-right {
					margin-left: 100%;
				}

				.torro-slider-middle,
				.torro-slider-left,
				.torro-slider-right {
					float: left;
					width: 33.3%;
				}
			}

			.torro-nav {
				width: 100%;
				margin: auto;
				margin-top: 15px;
				display: flex;
				flex-direction: row;

				.torro-nav-prev-link {
					flex: 1;
					text-align: left;

				}
				.torro-nav-next-link {
					flex: 1;
					text-align: right;
				}

				.torro-nav-prev-link a,
				.torro-nav-next-link a {
					min-width: 50px;
				}

				.torro-nav-info {
					flex: 4;
					text-align: center;
				}
			}

			tbody > :nth-child(2n+1) {
				background-color: #f9f9f9;
			}

			#torro-entry-table {
				width: 100%;
				font-size: 14px;
				text-align: left;
			}
			th {
				width: 50%;
			}
			tr {
				line-height: 25px;
			}

			#torro-entry-buttons {
				margin-top: 15px;
				min-height: 30px;
			}

			.torro-entries-slider {
				width: 200%;
			}
			.column-one {
				width: 1%;
			}
			.column-ten {
				width: 10%;
			}
			.column-five {
				width: 5%;
			}
			.column-fifteen {
				width: 15%;
			}
			.column-twenty {
				width: 20%;
			}
			.column-twentyfive {
				width: 25%;
			}
			.column-button {
				text-align: right;
			}
		}

		#form-settings {
			h3, h4 {
				margin: 0;
			}

			h4 {
				font-size: 14px;
			}

			.form-table{
				input[type="checkbox"]{
					float:left;
				}
				.checkbox-desc{
				}
			}
		}
	}
}

.tab_settings_content {
	margin-top: 20px;
}

.torro-form-fieldset {
	margin-bottom: 20px;
	clear: both;
}

.torro-form-fieldset-title {
	width: 20%;
	float: left;
}

.torro-form-fieldset-input {
	width: 80%;
	float: right;
}

.torro-form-fieldset-input-radio {
	display: block;
	margin-bottom: 5px;
}

/* --- Destructive --- */

a.delete-button {
	cursor: pointer;

	&.disabled {
		opacity: 0.4;
		cursor: default;
	}

	&:hover,
	&:focus {
		color: #f00;
		text-decoration: none;
		border: none;

		&.disabled {
			color: #0073aa;
		}
	}
}

/* --- Redirections --- */

.redirection-type {
	margin-bottom: 15px;
}

.redirect-content {
	display: none;
}

/* --- Participants --- */

#form_participants_select,
#form-participants-access-controls-select {
	margin-bottom: 10px;
}

/* --- Tooltipped --- */

.tooltipped {
	position: relative;

	&:before {
		z-index: 1000001;
		display: none;
		border: 5px solid transparent;
		color: rgba(0, 0, 0, 0.8);
		content: "";
		height: 0;
		pointer-events: none;
		position: absolute;
		width: 0;
	}

	&:after {
		z-index: 1000000;
		display: none;
		background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
		@include border-radius(3px);
		color: #fff;
		content: attr(aria-label);
		font: 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
		letter-spacing: normal;
		padding: 5px 8px;
		pointer-events: none;
		position: absolute;
		text-align: center;
		text-decoration: none;
		text-shadow: none;
		text-transform: none;
		white-space: pre;
		word-wrap: break-word;
	}

	&:hover,
	&:focus,
	&:active {
		&:before,
		&:after {
			display: inline-block;
			text-decoration: none;
		}
	}
}

.tooltipped-s,
.tooltipped-se,
.tooltipped-sw {
	&:before {
		border-bottom-color: rgba(0, 0, 0, 0.8);
		bottom: -5px;
		margin-right: -5px;
		right: 50%;
		top: auto;
	}

	&:after {
		margin-top: 5px;
		right: 50%;
		top: 100%;
	}
}

.tooltip-s,
.tooltip-n {
	&:after {
		transform: translateX(50%);
	}
}

.tooltipped-se,
.tooltipped-ne {
	&:after {
		left: 50%;
		margin-left: -15px;
		right: auto;
	}
}

.tooltipped-sw,
.tooltipped-nw {
	&:after {
		margin-right: -15px;
	}
}

.tooltipped-n,
.tooltipped-ne,
.tooltipped-nw {
	&:before {
		border-top-color: rgba(0, 0, 0, 0.8);
		bottom: auto;
		margin-right: -5px;
		right: 50%;
		top: -5px;
	}

	&:after {
		bottom: 100%;
		margin-bottom: 5px;
		right: 50%;
	}
}

.tooltipped-w,
.tooltipped-e {
	&:before {
		top: 50%;
		bottom: 50%;
		margin-top: -5px;
	}

	&:after {
		bottom: 50%;
		transform: translateY(50%);
	}
}

.tooltipped-w {
	&:before {
		left: -5px;
		border-left-color: rgba(0, 0, 0, 0.8);
	}

	&:after {
		right: 100%;
		margin-right: 5px;
	}
}

.tooltipped-e {
	&:before {
		right: -5px;
		border-right-color: rgba(0, 0, 0, 0.8);
	}

	&:after {
		left: 100%;
		margin-left: 5px;
	}
}

.tooltipped-sticky {
	&:before,
	&:after {
		display: inline-block;
	}
}

.tooltipped-multiline {
	&:after {
		border-collapse: separate;
		max-width: 250px;
		white-space: pre-line;
		width: -moz-max-content;
		word-wrap: normal;

		@media not all {
			width: 250px;
		}
	}

	&:hover,
	&:focus,
	&:active {
		&:after {
			display: table-cell;
		}
	}

	&.tooltipped-s,
	&.tooltipped-n {
		&:after {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&.tooltipped-w,
	&.tooltipped-e {
		&:after {
			right: 100%;
		}
	}

	&.tooltipped-sticky {
		&:after {
			display: table-cell;
		}
	}
}

/* --- Form Options --- */

#form-options {
	.inside {
		padding: 0;
		margin: 0;
	}

	.notices {
		display: none;
		padding-top: 20px;
	}
}

/* --- Form functions --- */

#form-functions {
    text-align: left;

    input {
    	margin-right: 10px;

    	&:last-child {
    		margin-right: 0;
    	}
    }
}

/* --- Form access-controls --- */

#form-access-controls {
	.inside h3 {
		margin: 0 0 10px 0;
		padding: 0;
	}

	label select {
		margin-left: 10px;
	}

	.form-access-controls-content {
		margin-top: 10px;
		padding: 10px;
		border: 1px #e5e5e5 solid;
	}
}

/* --- Dialogs --- */

#delete_container_dialog,
#delete_formelement_dialog,
#delete_results_dialog,
#delete_answer_dialog,
#participants-delete-all-text,
#participant-delete-text{
    display: none;
}

.ui-dialog {
    width: 300px;
    background-color: #FFF;
    border: 1px solid #CCC;
    text-align: center;
    @include box-shadow( 5px 5px 5px rgba(0, 0, 0, 0.5) );
}

.wp-dialog {
	.ui-dialog-titlebar {
		display: none;
	}

	.ui-dialog-content {
		padding: 10px;
		font-size: 14px;
	}

	.ui-button {
		width: 40%;
		margin: 0 10px 10px 10px;
		background-color: #FFF;
		border: 1px solid #CCC;
	}
}

/* --- Draggable --- */

.ui-draggable-dragging {
	.widget-title {
		width: 48px !important;
		height: 48px !important;
		overflow: hidden !important;

		h4 {
			opacity: 0;
		}
	}
}

/* --- WP Editor Default --- */

#wp-wp_editor_replace_element_id-wrap {
	display: none;
}
