@import "variables";
@import "mixins";

/* --- Frontend --- */

.torro-form {
	/* For accessibility */
	.torro-element {
		margin-bottom: $base-padding-bottom;

		input,
		select,
		textarea {
			display:block;
		}

		input[type="checkbox"],
		input[type="radio"] {
			display:inline;
			margin-right:5px;
		}

		&.error {
			input,
			select,
			textarea {
				border-color: $color-error;
			}
		}

		.element-description {
			font-style: italic;
		}
	}

	.torro-pagination {
		margin-bottom: $base-padding-bottom;

		.torro-highlight-number {
			padding: 2px 6px;
			border-radius: 3px;
			background-color: #cccccc;
			color: #ffffff;
		}
	}

	.error-messages {
		margin: 5px 0 0;
		padding: 0;
		list-style-type: none;

		li {
			display: block;
			color: $color-error;
		}
	}
}
