@import "variables";
@import "mixins";

/* --- Frontend --- */

.torro-form {
	.torro-element {
		margin-bottom: 20px;

		label {
			display: block;
			margin-bottom: 5px;
			font-size: 1.2em;
		}

		table {
			margin-bottom: 0;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="color"]:focus,
		input[type="date"]:focus,
		input[type="datetime"]:focus,
		input[type="datetime-local"]:focus,
		input[type="email"]:focus,
		input[type="month"]:focus,
		input[type="number"]:focus,
		input[type="password"]:focus,
		input[type="search"]:focus,
		input[type="tel"]:focus,
		input[type="text"]:focus,
		input[type="time"]:focus,
		input[type="url"]:focus,
		input[type="week"]:focus,
		input[type="checkbox"]:focus,
		input[type="radio"]:focus,
		select:focus,
		textarea:focus {
			border-color: #5b9dd9;
			box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
		}
	}

	.torro-element-description {
		margin-bottom: 5px;
	}

	.torro-pagination {
		margin-bottom: 20px;

		span.torro-highlight-number {
			padding: 2px 6px;
			border-radius: 3px;
			background-color: #cccccc;
			color: #ffffff;
		}
	}

	ul.error-messages {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	ul.error-messages li {
		margin: 5px 0 0;
		color: #F00;
	}

	input[type="text"],
	textarea,
	select {
		width:100%;
	}
}
