@import "variables";

/* --- Icon Font --- */

@font-face {
  font-family: "aficons";
  src: url("#{$font-path}/af.eot");
  src: url("#{$font-path}/af.eot?#iefix") format("embedded-opentype"),
  	url("#{$font-path}/af.woff") format("woff"),
  	url("#{$font-path}/af.ttf") format("truetype"),
  	url("#{$font-path}/af.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-torro-"] {
  background-image: none;
  display: inline;
  font-size: 14px;
  font-style: normal !important;
  font-weight: normal !important;
  height: 14px;
  overflow: visible;
  width: 14px;

  &:before {
  	font-family: aficons;
  }
}

/* --- Icons --- */

.icon-torro-checkbox-01:before {
	content: "\E801";
}
.icon-torro-checkbox-01-off:before {
	content: "\E800";
}
.icon-torro-check-01:before {
	content: "\E803";
}
.icon-torro-check-02:before {
	content: "\E813";
}
.icon-torro-pie-01:before {
	content: "\E804";
}
.icon-torro-pie-02:before {
	content: "\E802";
}
.icon-torro-chart-01:before {
	content: "\E805";
}
.icon-torro-chart-02:before {
	content: "\E806";
}
.icon-torro-chart-03:before {
	content: "\E807";
}
.icon-torro-code-01:before {
	content: "\E809";
}
.icon-torro-code-02:before {
	content: "\E809";
}
.icon-torro-refresh:before {
	content: "\E80B";
}
.icon-torro-download:before {
	content: "\E80C";
}
.icon-torro-skype:before {
	content: "\E80D";
}
.icon-torro-youtube:before {
	content: "\E80F";
}
.icon-torro-wordpress:before {
	content: "\E80D";
}
.icon-torro-facebook:before {
	content: "\E811";
}
.icon-torro-twitter:before {
	content: "\E812";
}
.icon-torro-googleplus:before {
	content: "\E810";
}
.icon-torro-xing:before {
	content: "\E814";
}
.icon-torro-linkedin:before {
	content: "\E815";
}

/* --- Admin Menu --- */

.menu-icon-torro_form .dashicons-before:before {
	font-family: aficons;
    content: "\E801";
    font-size: 14px;
    height: 20px;
    width: 20px;
	line-height: 20px;
}
