@import "variables";
@import "mixins";

/* --- Settings Page --- */

#torro-settings {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul {
		margin: 0 0 5px 0;

		&:last-child {
			margin: 0;
		}
	}

	.settings-title,
	.settings-table {
		margin-top: 0;
		margin-bottom: 5px;
	}

	.nav-tab-wrapper,
	.form-table {
		margin: 0;
	}

	input[type="text"],
	textarea {
		width: 25em;
	}

	#torro-settings-submenu {
		margin-bottom: 0px;

		li {
			float: left;

			&:after {
				margin: 0 5px;
				content: "|";
			}

			&:last-child {
				margin-right: 0;
				float: none;

				&:after {
					margin: 0;
					content: "";
				}
			}
		}
	}

	.submenu-tab.active a {
		color:#555;
		text-decoration: none;
		font-weight: bold;
	}

	.settings-disclaimer {
		padding: 20px;
		margin-bottom: 15px;
		background-color: #fff;
		border: 1px solid #ccc;
	}
}

#torro-settings-content{
	padding: 10px 0;

	&.general {
		.settings-disclaimer {
			background-image: url("#{$image-path}/logo.png");
			background-position: 20px 20px;
			background-repeat: no-repeat;
			min-height: 80px;
			padding: 20px 20px 20px 298px;
			margin-bottom: 15px;
		}
	}
}
