#form-restrictions .inside h3{
    margin: 0 0 10px 0;
    padding: 0;
}
#form-restrictions label select{
    margin-left: 10px;
}

#form-restrictions .questions-restrictions-content{
    margin-top: 10px;
    border: 1px #e5e5e5 solid;
    padding:10px;
}