/* This stylesheet is used to style the public view of the plugin. */

/**
 * 	Form Element
 */
.torro-form .torro-element {
    margin-bottom: 20px;
}
.torro-form .torro-element label{
    margin-bottom: 5px;
    display: block;
    font-size: 1.2em;
}
.torro-form .torro-element-description
{
    margin-bottom: 5px;
}
.torro-form .torro-element table
{
    margin-bottom: 0;
}
.torro-form input[ type="text" ],
.torro-form textarea,
.torro-form select
{
    width:100%;
}

/**
 * 	Pagination
 */
.torro-form .torro-pagination {
    margin-bottom: 20px;
}

.torro-form .torro-pagination span.torro-highlight-number {
    border-radius: 3px;
    background-color: #CCC;
    padding: 2px 6px;
    color: #FFF;
}

/**
 * 	Errors
 */
.torro-form .torro-element-error {
    border: 1px dashed #F00;
    padding: 10px;
    margin-bottom: 20px;
}

.torro-element-error-message {
    color: #FFF;
    border: 1px dashed #F00;
    background-color: #F00;
    display: block;
    margin: 0 0 10px 0;
    padding: 5px;
}

.torro-form ul.torro-error-messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/**
 * Dimple chart CSS
 */
.torro-dimplechart {
    margin-bottom: 20px;
    width: 100%;
    display: block;
}
