#torro-entries
{
    width:100%;
    overflow-x: hidden;
}
#torro-entries .entry-actions
{
    text-align: right;
}
#torro-entries .export-links
{
    text-align: right;
}

/**
 * Entries Table
 */
#torro-entries tbody > :nth-child(2n+1) {
    background-color:#F9F9F9;
}
/**
 * Entry
 */
#torro-entry-table
{
    width: 100%;
    text-align: left;
    font-size: 14px;
}
#torro-entry-table th
{
    width:50%;
}
#torro-entry-table tr{
    line-height: 25px;
}
#torro-entry-buttons
{
    margin-top: 15px;
}
/**
 * Slider
 */
.torro-entries-slider
{
    width:200%;
}
.torro-slider-start-content
{
    width:50%;
    float:left;
}
.torro-slider-right
{
    width:50%;
    float:left;
}
/**
 * Nav
 */
.torro-nav{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.torro-nav-prev-link
{
    float: left;
    margin: 0 15px 15px 0;
}
.torro-nav-next-link
{
    float: right;
    margin: 0 0 15px 15px;
}
