/* This stylesheet is used to style the admin option form of the plugin. */
#surveyval-content #drag-drop-area {
	height:auto;
	min-height:200px;
}
#surveyval-content .drag-drop-info{
	padding-bottom:65px;
}
#surveyval-content .widget{
	margin-bottom:10px;
}
#survey-elements .widget-title-action{
	display:none;
}
#drag-drop-area.widgets-holder-wrap{
	padding:10px;
}
#surveyval-content input[type=text].surveyval-question{
	width:100%;
}
#surveyval-content input[type=text]{
	width:80%;
}
#surveyval-content div.answer{
}
.surveyval-widget-icon{
	float:left;
	margin: 6px 0px 6px 6px;
}
#surveyval-content div.preset_is_multiple{
	padding-left:20px;
	background-image: url( '../../assets/images/icon-updown.png' );
	background-repeat: no-repeat;
	background-position: top 7px left 0;
	cursor:move;
}
#surveyval-content .answers{
	margin-bottom: 15px;
}
#surveyval-content .answer{
	height: 40px;
}
#surveyval-content .answer p{
	display: inline;
}
#surveyval-content .add-answer{
	font-weight: bold;
	text-decoration: underline;
}
#delete_survey_element_dialog,
#delete_answer_dialog{
	display:none;
}
.survey_element_tabs .tabs_underline{
	border-bottom: 1px solid #CCC;
}
.survey_element_tabs .tabs li:first-child{
	border-radius:3px 0 0 0;
	border-right:none;
}	
.survey_element_tabs .tabs li{
	float:left;
	margin: 0;
	border: 1px solid #CCC;
	border-bottom:none;
	border-right:none;
	background-color: #FAFAFA;
	padding:6px;
	border-radius:3px;
}
.survey_element_tabs .tabs li:last-child{
	border-radius:0 3px 0 0;
	border-right: 1px solid #CCC;
}
.survey_element_tabs .tabs li.ui-state-active{
	font-weight:bold;
}
.survey_element_tabs .tabs li a{
	color:#222;
	text-decoration: none;
}
.tab_settings_content{
	margin-top:20px;
}
.settings-fieldset{
	margin-bottom:20px;
}
.settings-fieldset-title{
	width:20%;
	float:left;
}
.settings-fieldset-input{
	width:80%;
	float:right;
}

/* 
 * Dialogs
 */
.ui-dialog{
    background-color:#FFF;
    border:1px solid #CCC;
    text-align:center;
    width:300px;
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* Firefox - alte Syntax */
    -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* Safari, Chrome - alte Syntax */
    box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* alle neuen Browser, W3C Standard */
}
.wp-dialog .ui-dialog-titlebar{
    display:none;
}
.wp-dialog .ui-dialog-content{
    padding:10px;
    font-size:14px;
}
.wp-dialog .ui-button{
    width:40%;
    background-color:#FFF;
    border: 1px solid #CCC;
    margin: 0 10px 10px 10px;
}
