/* This stylesheet is used to style the admin option form of the plugin. */
#surveyval-content{
	margin-bottom:20px;
}
#surveyval-content #drag-drop-area {
	height:auto;
	min-height:200px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.0392157) 0 1px 1px;
  	border:1px solid #E5E5E5;
  	box-shadow:rgba(0, 0, 0, 0.0392157) 0 1px 1px;
}
#surveyval-content .drag-drop-info{
	padding-bottom:65px;
}
#surveyval-content .widget{
	margin-bottom:10px;
}
#survey-elements .widget-title-action{
	display:none;
}
#drag-drop-area.widgets-holder-wrap{
	padding:10px;
}
#survey-elements .widget-inside{
	height: 0px;
	overflow: hidden;
}
#surveyval-content input[type=text].surveyval-question{
	width:100%;
}
#surveyval-content input[type=text]{
	width:80%;
}
#surveyval-content textarea{
	width:80%;
}
#surveyval-content div.answer{
}
.surveyval-widget-icon{
	float:left;
	margin: 6px 0px 6px 6px;
}
#surveyval-content div.preset_is_multiple{
	padding-left:20px;
	background-image: url( '../../assets/images/icon-updown.png' );
	background-repeat: no-repeat;
	background-position: top 7px left 0;
	cursor:move;
}
#surveyval-content .answers{
	margin-bottom: 15px;
}
#surveyval-content .answer{
	height: 40px;
}
#surveyval-content .answer p{
	display: inline;
}
#surveyval-content .add-answer{
	font-weight: bold;
	text-decoration: underline;
	cursor:hand;
}
#delete_surveyelement_dialog,
#delete_answer_dialog{
	display:none;
}
.survey_element_tabs ul{
	margin-top:20px !important;
}
.survey_element_tabs .tabs_underline{
	border-bottom: 1px solid #CCC;
}
.survey_element_tabs .tabs li:first-child{
	border-radius:3px 0 0 0;
	border-right:none;
}	
.survey_element_tabs .tabs li{
	float:left;
	margin: 0;
	border: 1px solid #CCC;
	border-bottom:none;
	border-right:none;
	background-color: #FAFAFA;
	padding:6px;
}
.survey_element_tabs .tabs li:last-child{
	border-radius:0 3px 0 0;
	border-right: 1px solid #CCC;
}
.survey_element_tabs .tabs li.ui-state-active{
	font-weight:bold;
}
.survey_element_tabs .tabs li a{
	color:#222;
	text-decoration: none;
}
.tab_settings_content{
	margin-top:20px;
}
/*
 * Form styles
 */
.surveval-form-fieldset{
	margin-bottom:20px;
	clear: both;
}
.surveval-form-fieldset-title{
	width:20%;
	float:left;
}
.surveval-form-fieldset-input{
	width:80%;
	float:right;
}
.surveval-form-fieldset-input-radio{
	display: block;
	margin-bottom:5px;
}
/*
 * Buttons
 */
#surveyval_participiants_select{
	margin-bottom:10px;
}
#survey-participiants .button-loading{
	background-image: url( '../../assets/images/loading.gif' );
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left:28px;
}

#survey-invites .button-loading{
	background-image: url( '../../assets/images/loading-blue.gif' );
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left:28px;
}
/* 
 * Participiants
 */
.surveyval-participiant-new{
	background-color: #7AD03A;
}
.surveyval-participiants-options-content{
	border: 1px #DFDFDF solid;
	background-color: #FDFDFD;
	padding: 10px;
	margin-bottom: 10px;
}
.surveyval-participiants-options-content h3,
.surveyval-participiants-options-content h4,
.surveyval-participiants-options-content h5{
	margin: 0 0 10px 0;
}
.surveyval-function-element{
	margin-bottom: 10px;
}
.surveyval-function-element .button{
	width: 100%;
}
#surveyval-invite-subject{
	width:100%;
	display:none;
	font-size:12px;
}
#surveyval-invite-text{
	width:100%;
	min-height:200px;
	margin-bottom:10px;
	display:none;
	font-size:12px;
}
#surveyval-reinvite-subject{
	width:100%;
	display:none;
	font-size:12px;
}
#surveyval-reinvite-text{
	width:100%;
	min-height:200px;
	margin-bottom:10px;
	display:none;
	font-size:12px;
}
.participiant.finished td:first-child{
	border-left: 4px solid #7AD03A;
}
.participiant.new td{
	background-color: #FEFAF7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) inset;
}
.participiant.new td:first-child{
	border-left: 4px solid #DD3D36;
}
.participiant.just-added td{
	background-color: #F7FCFE;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) inset;
}
.participiant.just-added td:first-child{
	border-left: 4px solid #2EA2CC;
}

#surveyval-invite-button-cancel,
#surveyval-reinvite-button-cancel{
	display:none;
}
#surveyval-settings .form-table .surveyval-text-template{
	width:80%;
	height:200px;
}
.settings-template-subject{
	width:80%;
}
.surveyval-remove-all-participiants{
    display: block;
    float: right;
    padding: 5px 10px;
}

/* 
 * Dialogs
 */
.ui-dialog{
    background-color:#FFF;
    border:1px solid #CCC;
    text-align:center;
    width:300px;
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* Firefox - alte Syntax */
    -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* Safari, Chrome - alte Syntax */
    box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* alle neuen Browser, W3C Standard */
}
.wp-dialog .ui-dialog-titlebar{
    display:none;
}
.wp-dialog .ui-dialog-content{
    padding:10px;
    font-size:14px;
}
.wp-dialog .ui-button{
    width:40%;
    background-color:#FFF;
    border: 1px solid #CCC;
    margin: 0 10px 10px 10px;
}
.ui-draggable-dragging{
	
}
.ui-draggable-dragging .widget-title{
	width: 48px !important;
	overflow:hidden !important;
	height: 48px !important;
}
.ui-draggable-dragging .widget-title h4{
	opacity:0;
}
