/* This stylesheet is used to style the admin option form of the plugin. */
#surveyval-content #drag-drop-area {
	height:auto;
	min-height:200px;
}
#surveyval-content .drag-drop-info{
	padding-bottom:65px;
}
#surveyval-content .widget{
	margin-bottom:10px;
}
#surveyval-questions-answers .widget-title-action{
	display:none;
}
#drag-drop-area.widgets-holder-wrap{
	padding:10px;
}
#surveyval-content input[type=text].surveyval-question{
	width:100%;
}
#surveyval-content input[type=text]{
	width:80%;
}
#surveyval-content div.answer{
}
.surveyval-widget-icon{
	float:left;
	margin: 6px 0px 6px 6px;
}
#surveyval-content div.multiple_answer{
	padding-left:20px;
	background-image: url( '../../assets/images/icon-updown.png' );
	background-repeat: no-repeat;
	background-position: top 7px left 0;
	cursor:move;
}
