/* This stylesheet is used to style the public view of the plugin. */
.question{
	margin-bottom:20px;
}
.question p{
	margin:0;
	font-size:0.9em;
}
.question_error{
	border: 1px dashed #F00;
	padding:2%;
}
.surveyval_errors span{
	color:#FFF;
	border: 1px dashed #F00;
	background-color:#F00;
	display:block;
	margin-bottom:20px;
	padding:5px;
}
#surveyval table.surveyval-range-table{
	width:auto;
	border:none;
}
#surveyval table.surveyval-range-table td{
	text-align:center;
	border:none;
}
