/* This stylesheet is used to style the public view of the plugin. */
/**
 * 	Survey Element
 */
#questions .survey-element{
	margin-bottom:20px;
}
#questions .survey-element p{
	margin:5px;
}
#questions .survey-element > h3,
#questions .survey-element > h5,
#questions .survey-element > div
{
	margin-bottom:10px;
}
#questions .survey-element hr{
	margin: 0;
	height: 5px;
	border-radius: 3px;
}
/**
 * 	Pagination
 */
#questions .questions-pagination{
	margin-bottom: 20px;
}
#questions .questions-pagination span.questions-highlight-number{
	border-radius: 3px;
	background-color: #CCC;
	padding:2px 6px;
	color:#FFF;
}
/**
 * 	Errors
 */
#questions .questions-element-error{
	border: 1px dashed #F00;
	padding:10px;
	margin-bottom:20px;
}
.questions-element-error-message{
	color:#FFF;
	border: 1px dashed #F00;
	background-color:#F00;
	display:block;
    margin: 0 0 10px 0;
    padding: 5px;
}
#questions ul.questions-error-messages{
	margin: 0 0 0 20px;
}
/**
 * 	?
 */
#questions table.questions-range-table{
	width:auto;
	border:none;
}
#questions table.questions-range-table td{
	text-align:center;
	border:none;
}

