@import "variables";
@import "mixins";

/* --- C3 Charts --- */

.torro-chart {
	padding: 15px 0;
	border-bottom: dotted 1px #dddddd;
}

.torro-chart-diagram {
}

.torro-chart-actions {
}

#torro-result-charts-bottom {
	margin-top: 15px;
}
