@font-face { 
  font-family: "questionsicons"; 
  src: url("fonts/questions.eot"); 
  src: url("fonts/questions.eot?#iefix") format("embedded-opentype"), 
  	url("fonts/questions.woff") format("woff"), 
  	url("fonts/questions.ttf") format("truetype"), 
  	url("fonts/questions.svg#icons") format("svg"); 
  font-weight: normal;
  font-style: normal;
}
[class*="icon-questions-"] { 
  background-image: none; 
  display: inline; 
  font-size: 14px; 
  font-style: normal !important; 
  font-weight: normal !important; 
  height: 14px;
  overflow: visible; 
  width: 14px;
}
[class*="icon-questions-"]::before {
	font-family: questionsicons; 
}
/*
.hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}
*/
/* Icons */
.icon-questions-checkbox-01::before {
	content: "\E801"; 
}
.icon-questions-checkbox-01-off::before {
	content: "\E800"; 
}
.icon-questions-check-01::before {
	content: "\E803"; 
}
.icon-questions-check-02::before {
	content: "\E813"; 
}
.icon-questions-pie-01::before {
	content: "\E804"; 
}
.icon-questions-pie-02::before {
	content: "\E802"; 
}
.icon-questions-chart-01::before {
	content: "\E805"; 
}
.icon-questions-chart-02::before {
	content: "\E806"; 
}
.icon-questions-chart-03::before {
	content: "\E807"; 
}
.icon-questions-code-01::before {
	content: "\E809"; 
}
.icon-questions-code-02::before {
	content: "\E809"; 
}
.icon-questions-refresh::before {
	content: "\E80B"; 
}
.icon-questions-download::before {
	content: "\E80C"; 
}
.icon-questions-skype::before {
	content: "\E80D"; 
}
.icon-questions-youtube::before {
	content: "\E80F"; 
}
.icon-questions-wordpress::before {
	content: "\E80D"; 
}
.icon-questions-facebook::before {
	content: "\E811"; 
}
.icon-questions-twitter::before {
	content: "\E812"; 
}
.icon-questions-googleplus::before {
	content: "\E810"; 
}
.icon-questions-xing::before {
	content: "\E814"; 
}
.icon-questions-linkedin::before {
	content: "\E815"; 
}

#adminmenu #toplevel_page_AF_Admin .dashicons-admin-generic:before{
	font-family: questionsicons;
    content: "\E801";
    font-size: 14px;
    height: 20px;
    width: 20px;
	line-height: 20px;
}