#questions-settings .button-save-settings{
    margin-top:20px;
}

#questions-settings .questions-settings-disclaimer{
    margin: 10px 0 0 0;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 1px 20px;
}