#af-settings-content{
    padding: 10px 0;
}
#af-settings h1:last-child,
#af-settings h2:last-child,
#af-settings h3:last-child,
#af-settings h4:last-child,
#af-settings h5:last-child,
#af-settings h6:last-child,
#af-settings p:last-child,
#af-settings ul:last-child{
    margin: 0;
}
#af-settings h1,
#af-settings h2,
#af-settings h3,
#af-settings h4,
#af-settings h5,
#af-settings h6,
#af-settings p,
#af-settings ul{
    margin: 0 0 5px 0;
}
#af-settings .settings-title,
#af-settings .settings-table{
    margin-top: 0;
    margin-bottom: 10px;
}
#af-settings .nav-tab-wrapper,
#af-settings .form-table{
    margin: 0;
}

#af-settings #af-settings-submenu{
    margin-bottom: 20px;
}

/**
 * Sub menu settings
 */
#af-settings #af-settings-submenu li{
    float: left;
}
#af-settings #af-settings-submenu li:after{
    content: "|";
    margin: 0 5px;
}
#af-settings #af-settings-submenu li:last-child{
    margin-right: 0;
}
#af-settings #af-settings-submenu li:last-child{
    float: none;
}
#af-settings #af-settings-submenu li:last-child:after{
    margin: 0;
    content: "";
}
#af-settings .submenu-tab.active a{
    color:#555;
    text-decoration: none;
    font-weight: bold;
}

/**
 * Settings Disclaimer
 */
#af-settings .settings-disclaimer{
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 20px;
}